@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
*{
    border-style: none !important;
}
div:focus{
    outline:0 !important;
}
html {
    scroll-behavior: smooth;
  }
body{
    margin-top:20px;
  background:url("https://images.pexels.com/photos/747964/pexels-photo-747964.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  background-position: center;
}
.mainbody{
    position: fixed;
    right: 5px;
    bottom: 20px;
}
.panel {
    box-shadow: 0 2px 0 rgba(0,0,0,0.075);
    border-radius: 0;
    border: 0;
    width: 40%;
    height: 100%;
    margin-left: 30%;
    background: rgba(52, 57, 61, .7);
}
.panel .panel-heading, .panel>:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.panel-heading {
    position: relative;
    padding: 0;
    border-bottom:1px solid #eee;
    height: 60px;
    background:rgba(52, 57, 61, .7);
    color: white
}
.panel-control {
    height: 100%;
    position: relative;
    float: right;
    padding: 0 15px;
}
.panel-title {
    font-weight: normal;
    padding: 0 20px 0 20px;
    font-size: 1.416em;
    line-height: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.panel-footer {
    background: #ffffff00 !important;
    position: absolute;
    bottom: 10px;
    left: 30%;
    right: 30%;
}
.panel-control>.btn:last-child, .panel-control>.btn-group:last-child>.btn:first-child {
    border-bottom-right-radius: 0;
}
.panel-control .btn, .panel-control .dropdown-toggle.btn {
    border: 0;
}
.nano {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.nano>.nano-content {
    position: absolute;
    overflow: scroll;
    overflow-x: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.pad-all {
    padding: 15px;
}
.mar-btm {
    margin-bottom: 15px;
}
.media-block .media-left {
    display: block;
    float: left;
}
.img-sm {
    width: 70px;
    height: 55px;
}
.img-m {
    width: 30px;
    height: 25px;
}
.media-block .media-body {
    display: block;
    overflow: hidden;
    width: auto;
}
.pad-hor {
    padding-left: 0px;
    padding-right: 15px;
}
.speech {
    position: relative;
    background: rgba(52, 57, 61, .7);
    color:#5bc2cc;
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
    min-width: 70px;
    min-height: 30px;
    max-width: 90%;
    /* text-align: center; */
}
.speech-right>.speech:before {
    left: auto;
    right: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #ffdc91;
    border-right: 0;
    margin: 15px -6px 0 0;
}
.speech .media-heading {
    font-size: 1.2em;
    color: #317787;
    display: block;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-weight: 300;
}
.speech-time {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: .8em;
    font-weight: 300;
}
.media-block .media-right {
    float: right;
}
.speech-right {
    text-align: right;
}
.pad-hor {
    padding-left: 0px;
    padding-right: 15px;
}
.speech-right>.speech {
    background: rgba(52, 57, 61, .7);
    color: #b9a4a4;
    text-align: center;
}
.speech-right>.speech .media-heading {
    color: #a07617;
}
.btn-primary, .btn-primary:focus, .btn-hover-primary:hover, .btn-hover-primary:active, .btn-hover-primary.active, .btn.btn-active-primary:active, .btn.btn-active-primary.active, .dropdown.open>.btn.btn-active-primary, .btn-group.open .dropdown-toggle.btn.btn-active-primary {
    background-color: rgba(52, 57, 61, .7);
    border-color: #5fa2dd;
    color: #fff !important;
}
.btn {
    cursor: pointer;
    /* background-color: transparent; */
    color: inherit;
    padding: 6px 12px;
    border-radius: 0;
    border: 1px solid 0;
    font-size: 20px;
    line-height: 1.42857;
    vertical-align: middle;
    -webkit-transition: all .25s;
    transition: all .25s;
}
.form-control {
    font-size: 15px;
    height: 40px;
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #e9e9e9;
    transition-duration: .5s;
    border-radius: 20px;
    background: #66afe900;
    color:#5bc2cc ;
    border: 1px solid #00BCD4 !important;
}
.nano>.nano-pane {
    background-color: rgba(0,0,0,0.1);
    position: absolute;
    width: 5px;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transition: all .7s;
    transition: all .7s;
}
.option:hover{
    cursor: pointer;
}
a:hover{
    cursor: pointer;
}

.list-group{
    width: 50%;
    padding-left: 0;
    margin-bottom: 20px;
}
.option{
    font-size: 14px;
    line-height: 18px;
    background-color: rgba(52, 57, 61, .7);
    color: #5bc2cc!important;
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
    border-style: solid !important;
    border-width: 1px;
     border-color: #5bc2cc;
    display: block;
    margin: 5px;
    width: 100%;
    text-align: center;
}
.yesno{
    font-size: 14px;
    line-height: 18px;
    background-color:rgba(52, 57, 61, .7);
    color:  #5bc2cc!important;
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
    border-style: solid !important;
    border-width: 1px;
    border-color: #5bc2cc;
    display: block;
    margin: 5px;
    text-align: center;
}
.yesno:hover{
    background: #5bc2cc;
    color: white !important;
    cursor: pointer;
}
.option:hover{
    background: #5bc2cc;
    color: white !important;
}
#submit{
    background: #5bc2cc00;
    color: #00BCD4 !important;
    border-radius: 20px;
    border: 1px solid #00bcd4 !important;
}
#submit:hover{
    background: #00bcd4;
    color:rgb(243, 239, 239) !important;
    border-radius: 20px;
    border: 1px solid #00bcd4 !important;
}
.chat-input{
    padding-right: 0px !important;
}
.submit{
    padding-left: 0px !important;
    padding-left: 0px !important;
    margin-left: 10px;
    width: 20% !important;
}
p{
    margin: 0px 0 0px;
}

.shut{
    font-size: 30px;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    cursor: pointer;
    color: white;
}
.avatar{
    position: absolute;
    margin-left: 20px;
    margin-top: 0px;
}

.list-group li{
    margin-left: 40%;
}
.media-left, .media>.pull-left {
    padding-right: 0px !important;
}
.botname{
    position: absolute;
    font-size: 15;
    margin-top: 20px;
    color:#4ce8f7;
    border-bottom: 1px solid currentColor !important;
    text-transform: uppercase;
}


.requirementform{
    width: 30%;
    background-color: #5d6465;
    position: absolute;
    top: 140px;
    left: 35%;
    height: 300px;
    display: block;
    border-radius: 20px;
    padding: 20px;
    overflow: hidden;
    border: 1px solid #5bc2cc !important ;

}

h3{
    color: white;
}

/* scrollbar */
/* .requirementform::-webkit-scrollbar {
    width: 1px;
}
 
.requirementform::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.requirementform::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
} */
label{
    color:#00BCD4 !important;
    margin-left: 10px;
  
}
.send{
    display: flex;
    align-items: center;
    justify-content: center;
}
#chat-body{
    height: 89vh;
}

@media only screen and (max-width: 600px) {
    .panel-footer{
        background: #ffffff00 !important;
        position: fixed;
        bottom: 10px;
        left: 5%;
        right: 5%
    }
    .panel {
        box-shadow: 0 2px 0 rgba(0,0,0,0.075);
        border-radius: 0;
        border: 0;
        width: 100%;
        height: 100%;
        margin: -20px 0px;
        background: rgba(52, 57, 61, .7);
    }
    .send {
        margin-top: -10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container {
        width: 100% !important;
        padding:0px !important;
        margin: 0px !important;
    }
    .requirementform {
        width: 95%;
        background-color: #5d6465;
        position: absolute;
        top: 180px;
        left: 10px;
        display: block;
        border-radius: 20px;
    }

    .list-group li {
        margin-left: 0px !important;
    }
    .list-group{
        width: 95% !important;
    }
    .mobile{
        width: 100% !important;
    }
  }


/* button */
.snip1582 {
    background: rgba(52, 57, 61, .5);
    border: none;
    color: #5bc2cc;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    line-height: 1em;
    margin: 15px 40px;
    outline: none;
    padding: 12px 40px 10px;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .snip1582:before,
  .snip1582:after {
    border-color: transparent;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    border-style: solid;
    border-width: 0;
    content: "";
    height: 24px;
    position: absolute;
    width: 24px;
  }
  
  .snip1582:before {
    border-color: #5bc2cc;
    border-top-width: 2px;
    left: 0px;
    top: -5px;
  }
  
  .snip1582:after {
    border-bottom-width: 2px;
    border-color: #5bc2cc;
    bottom: -5px;
    right: 0px;
  }
  
  .snip1582:hover,
  .snip1582.hover {
      background: rgba(52, 57, 61, .5);
  }
  
  .snip1582:hover:before,
  .snip1582.hover:before,
  .snip1582:hover:after,
  .snip1582.hover:after {
    height: 100%;
    width: 100%;
  }
